# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment
.env
.env.local
.env.production

# Database
*.db
*.sqlite

# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
build

# IDE
.vscode
.idea
